:root {
  --main-color: #030e1a;
  --bg-hover:#ffffff1a;
  --box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.25), 0px 0px 2.9px rgba(0, 0, 0, 0.21);
}

@font-face {
  font-family: 'OpenSans';
  src: url(assets/OpenSans-Regular.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'OpenSans';
  font-size: 10px;
}

body {margin: 0; overflow-x: hidden;}

.container {
  width: 250px;
  height: 340px;
  background: linear-gradient(to bottom right, #000000a6, #000000de), url(assets/bg.jpg);
  color: #ffffff;
  text-transform: uppercase;
}

.list {height: 280px; overflow-y: auto; scrollbar-width: thin; }

header,.tabs {height:30px; background-color: #030e1a;}

.tabs { position: fixed;bottom: 0;left: 0;right: 0;z-index: 9;}
.tabs span {flex: 1 1 33%; text-align: center; }

/*******************************/
ul { width: 100%; list-style: none; margin: 0; padding: 0;  }
li {padding: 7px 10px; width: 100%; border-bottom: 1px solid #030e1a82; cursor: pointer; transition: background .25s; }
li:hover {background-color: var(--bg-hover);}

a { text-decoration: none; transition: all .25s;}
a:hover {color: #ffffff !important; }

button {    background-color: #ff5151;
  color: #fff; border-radius: 4px; border: 1px solid #000; box-shadow: var(--box-shadow); transition:all .25s}

button:hover {background-color: #030e1a; }

svg {
  width: 12px;
  height: 12px;
}

hr {
  margin: 0;
  border: 1px solid var(--main-color);
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.d-flex-sp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.m-0 {margin:0}
.mt-0 {margin-top:0}
.mr-10 {margin-right: 10px;}
.ml-10 {margin-left: 10px;}
.mt-10 {margin-top: 10px;}
.mb-10 {margin-bottom: 10px;}
.h-100 {height: 100%;}
.w-100 {width: 100%;}

.txt-muted {color: #dddddd;}
.txt-left {text-align: left;}
.txt-uppercase {text-transform: uppercase;}

.lsp2 {letter-spacing: 2px;}

.truncate {
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/**************************************/
.spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-hover);
  z-index: 999;
}
.spinner-border {
  display: inline-block;
  width: 4rem;
  height:4rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/************ Scroll **************/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #1d1e20;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3e3e;
}